@import url("https://use.typekit.net/uik4zpc.css");
$font-stack: 'neue-haas-grotesk-display',sans-serif;
$primary-color: #F8F3F0;
// #CDC5BC
// #3CA1E0

body {
  margin: 0;
  padding: 0;
  background-color: $primary-color,
}

p {
  font-family: 'neue-haas-grotesk-display',sans-serif;
  font-size: 20px;
  line-height: 1.4;
}
